
.vendor-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .profile-section {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('../../assets/city_images/kasol.jpg'); */
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 0;
  }
  
  .profile-image {
    position: absolute; /* Add absolute positioning */
  bottom: 0; /* Align at the bottom */
  left: 0; /* Align to the left */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .features-section {
    width: 100%;
  }
  
  .feature-item {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .feature-item h3 {
    margin-bottom: 10px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .profile-section {
      height: 200px;
    }
    
    .profile-image {
      width: 100px;
      height: 100px;
    }
  }
  