/* Map container styles */
.map-container {
    position: relative;
    width: 60vw;
    height: 400px; /* Adjust the height as needed */
  }
  
  /* Map styles */
  .leaflet-container {
    height: 100%;
  }
  
  /* Custom popup styles */
  .custom-popup {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }